body{
     background-color: rgb(128, 255, 0);
}
h1
{
color:rgb(0, 0, 0);
}
#showsketch
{
    float: right;
    font-size:30px;
}
canvas
{
border:5px solid rgb(7, 32, 253);
border-radius:20px;
animation-name:example;
animation-duration:4s;
margin-top:50px;
animation-iteration-count:infinite;
}
@keyframes example
{
    from{box-shadow:1px 1px 38px rgb(255, 0, 0)}
    to{box-shadow:1px 1px 38px rgb(47, 0, 255)}
}
p{
    padding-top:10px ;
    font-size:25px;
}